<div class="image-holder">
  <div class="collection-button-container">  
    <div
    
    *ngIf="hasSavedImage; then removeGIFTemplate ; else saveGIFTemplate"
  ></div>
  <ng-template #saveGIFTemplate>
    <button
      (click)="saveGif()"
      class="save-image-button" 
      mat-icon-button
      aria-label="Liked GIF"
      matTooltip="Add to collection"
    >
      <mat-icon>bookmark_border</mat-icon>
    </button>
  </ng-template>
  <ng-template #removeGIFTemplate>
    <button
      (click)="removeGIF()"
      class="save-image-button" 
      mat-icon-button
      aria-label="Remove GIF"
      matTooltip="Remove from collection"
    >
      <mat-icon>bookmark</mat-icon>
    </button>
  </ng-template>
</div>

    <div class="image-shader-container" mat-button (click)="showImage(InGIFData)">
        <div class="image-shader-row-one">


        </div>
        <div class="image-shader-row-two"></div>
        <div class="image-shader-row-three">
          {{ imageTitleShort  }}
        </div>
      </div>
      <img
        [src]="InGIFData.viewThumbnail"
        [alt]="InGIFData.title"
        class="image-result mat-elevation-z8"
        width="236"
        height="200"
        sizes="(max-width: 236px)"
        (error)="checkifload($event)"
      /> 

</div>
