.image-thumbnails
    max-width: auto
    min-width: 128px
    height: auto
.search-area-container
    height: 600px 
    display: flex
    flex-direction: column
.collection-area-container
    min-height: 220px 
    display: flex
    flex-direction: column 
    margin-bottom: 10px
    border-radius: 8px 
    background-color: #ffffff 
    padding: 16px 
.search-bar-container 
    justify-content: center
    align-items: center
    display: flex
    height: 70px
    width: 1038px

.trending-words-container
    justify-content: center
    align-items: center
    display: flex
    height: 40px 
    width: 1038px
.button-controll-container
    width: 50px
    height: 50px
    justify-content: center
    align-items: center
    display: flex
.button-words-container
    width: 100%
    padding-left: 6px
    padding-right: 6px
    display: flex  
    scroll-behavior: smooth !important
    overflow: hidden
.button-words 
    border-radius: 4px
    white-space: nowrap
    border: 1px solid #cccccc
    width: fit-content
    height: 40px 
.loader-trending-words-container
    justify-content: center
    align-items: center
    display: flex
    width: 100%
    height: 40px
    max-height: 40px
    overflow: hidden
    padding-top:15px 
 
.trending-words-button-container
    width: fit-content
    height: 40px 
    margin:2px 
.search-bar-results-container
    margin-top: 10px 
    border-radius: 8px
    height: calc(100% - 180px)
    background-color: #ffffff 
    padding: 16px 
.scroll-button
    background-color: rgba(255,0,0,0)
    box-shadow: 0px
    color: #0073c0
.search-results-skeleton 
    width:1038px 
    padding: 2px 
    display: flex
    flex-wrap: wrap 
    justify-content: space-around
    align-content: space-between
.search-bar-results  
    display: flex
    flex-wrap: wrap 
    justify-content: space-around
    align-content: space-between
.search-bar-results-scroller 
    height: 100%
    overflow-y: auto 
.show-more-container
    justify-content: center
    align-items: center
    display: flex
    height: 45px  
.show-more-button
    background-color: #0073c0 !important
    width: 300px
    border-radius: 24px
    color: #ffffff !important
    display: flex 
.trending-container
    justify-content: left
    align-items: center 
    font-weight: bold
    display: flex
    height: 45px 
    border-bottom: 1px solid #cccccc 
    margin-bottom: 6px
.trending-container h1
    font-size: 32px !important
    color: #484848
.search-text ::ng-deep .mdc-text-field
    width: 1038px
    height: 48px
    font-size: 30px
    background-color:#ffffff
    border:1px solid #cccccc
    border-top-left-radius: var(--mdc-shape-small, 30px)
    border-top-right-radius: var(--mdc-shape-small, 30px)
    border-bottom-right-radius: var(--mdc-shape-small, 30px)
    border-bottom-left-radius: var(--mdc-shape-small, 30px)
    ::ng-deep .mat-mdc-text-field-wrapper
        height: 48px !important
        background-color: #ffffff
        border-radius: 4px
    ::ng-deep .mat-mdc-form-field-infix
        margin-bottom: 8px !important
        padding-top: 4px !important 
        height: 48px !important
    ::ng-deep .mat-mdc-form-field-flex
        height: 48px !important
        padding-top: 0px !important
        padding-right: 10px !important
    ::ng-deep .mdc-line-ripple::after 
        display: none !important

.search-button-suffix
    background-color: rgba(255,0,0,0)
    color: #000000
    width: 38px !important
    height: 38px !important 
    display: inline-flex !important
    align-items: center
    justify-content: center
    & > *[role=img]
        width: 16px
        height: 16px
        font-size: 16px
        svg
            width: 24px
            height: 24px
    ::ng-deep .mat-mdc-button-touch-target
        width:38px !important
        height: 38px !important

.search-bar-results-scroller::-webkit-scrollbar
    -webkit-appearance: none
    width: 7px
.search-bar-results-scroller::-webkit-scrollbar-track
    border-radius: 10px
    background: rgba(0,0,0,0.1)
.search-bar-results-scroller::-webkit-scrollbar-thumb
    -webkit-appearance: true
    border-radius: 10px
    background: rgba(0,0,0,0.2)
.search-bar-results-scroller::-webkit-scrollbar-thumb:hover
    background: rgba(0,0,0,0.4)
.search-bar-results-scroller::-webkit-scrollbar-thumb:active
    background: rgba(0,0,0,0.9)
