<div class="search-area-container">
  <div class="search-bar-container">
    <mat-form-field class="search-text" subscriptSizing="dynamic">
      <input
        [(ngModel)]="searchQuery"
        matInput
        placeholder="Find your favorite GIFS!"
        #searchbar 
        maxlength="40"
        (keydown.enter)="searchGif()"
      />
      <button
        matSuffix
        mat-icon-button
        (click)="searchGif()"
        class="search-button-suffix"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="search-bar-results-container mat-elevation-z4">
    <div class="search-bar-results-scroller">
      <div class="search-bar-results">
        <div
          *ngFor="let gif of gifResult; let i = index; trackBy: trackGIFIndex"
          class="image-holder"
        >
          <img
            [src]="gif.images.preview_webp.url"
            [alt]="gif.title"
            class="image-result mat-elevation-z4"
            width="236"
            height="200"
            sizes="(max-width: 236px)"
          />
        </div>
      </div>
      <div class="show-more-container" *ngIf="gifResult.length > 0">
        <button mat-flat-button (click)="loadMoreGif()">..Load More</button>
      </div>

    </div>

  </div>
</div>
　
