<div class="search-area-container">
  <div class="search-bar-container">
    <mat-form-field class="search-text" subscriptSizing="dynamic">
      <input
        [(ngModel)]="searchQuery"
        matInput
        placeholder="Find your favorite GiFs"
        #searchbar
        maxlength="40"
        (keydown.enter)="searchGif()"
      />
      <button
        matSuffix
        mat-icon-button
        (click)="searchGif()"
        class="search-button-suffix"
        *ngIf="searchQuery.length === 0"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
      matSuffix
      mat-icon-button
      (click)="searchGif()"
      class="search-button-suffix"
      *ngIf="searchQuery.length > 0"
      (click)="clearSearchInput()"
    >
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
  </div>
  <div class="trending-words-container">
    <div class="button-controll-container">
      <button
        mat-icon-button
        class="scroll-button mat-elevation-z1"
        (click)="scrollLeft()"
      >
        <mat-icon>arrow_left </mat-icon>
      </button>
    </div>
    <div class="button-words-container" #trendingWords>
      <div
        *ngIf="
          searchTrendingWords | async;
          then trendingWordsResult;
          else trendingWordsNoResult
        "
      ></div>
      <ng-template #trendingWordsResult>
        <div
          class="trending-words-button-container"
          *ngFor="
            let words of searchTrendingWords | async;
            let i = index;
            trackBy: trackGIFIndex
          "
        >
          <button
            mat-flat-button
            class="button-words"
            #tag
            (click)="searchQuery = words; searchbar.value = words; searchGif()"
          >
            {{ words }}
          </button>
        </div>
      </ng-template>
      <ng-template #trendingWordsNoResult>
        <div class="loader-trending-words-container">
          <ngx-skeleton-loader
            count="10"
            appearance="line"
            [theme]="loaderTagStyle"
            animation="progress"
          ></ngx-skeleton-loader>
        </div>
      </ng-template>
    </div>
    <div class="button-controll-container">
      <button
        mat-icon-button
        class="scroll-button mat-elevation-z1"
        (click)="scrollRight()"
      >
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="search-bar-results-container mat-elevation-z1">
    <div class="search-bar-results-scroller">
      <div class="trending-container" *ngIf="!searchOrTrend">
        <h1>Trending GiFs!</h1>
      </div>
      <div class="search-bar-results">
        <div *ngIf="gifResult.length > 0; then withresult; else noresult"></div>
        <ng-template #withresult>
          <div  *ngFor="let gif of gifResult; let i = index; trackBy: trackGIFIndex"
          >
            <app-c-imagethumbnail
              
              [InGIFData]="gif"
              (OutSaveStatus)="refreshCollection()"
            ></app-c-imagethumbnail>
          </div>
        </ng-template>

        <ng-template #noresult>
          <div class="search-results-skeleton">
            <ngx-skeleton-loader
              count="20"
              appearance="line"
              [theme]="loaderStyle"
              animation="progress"
            ></ngx-skeleton-loader>
          </div>
        </ng-template>
      </div>
      <div
        class="show-more-container"
        *ngIf="
          gifResult.length > 0 && searchResultCount > gifResult.length;
          else noMoreItems
        "
      >
        <button
          mat-flat-button
          class="show-more-button"
          (click)="loadMoreGif()"
        >
          ..Show more GiFs!
        </button>
      </div>
      <ng-template #noMoreItems>
        <div class="show-more-container">
          No GIFs available.
        </div></ng-template
      >
    </div>
  </div>
</div>
　
<div class="collection-area-container mat-elevation-z1">
  <app-c-homegiphy (OutRefreshSearch)="searchGif()"></app-c-homegiphy>
</div>
