.image-thumbnails
    max-width: auto
    min-width: 128px
    height: auto
.search-area-container
    height: 100%
    border: 1px solid green
    display: flex
    flex-direction: column
.search-bar-container
    border: 1px solid yellow
    justify-content: center
    align-items: center
    display: flex
    height: 100px
    width: 1038px
.search-bar-results-container
    margin-top: 10px
    margin-bottom: 10px
    border-radius: 20px
    height: 100%
    background-color: #ffffff
    border: 1px solid green 
    overflow-y: auto 
    padding: 16px 
.search-bar-results 
    columns: 4 
    border: 1px solid pink
.image-holder
    width: 236px
    padding: 4px 0px 4px 0px
.image-result
    border-radius: 16px
    margin: 0px
    
.search-text ::ng-deep .mdc-text-field
    width: 1038px
    height: 80px
    font-size: 30px
    border-top-left-radius: var(--mdc-shape-small, 60px)
    border-top-right-radius: var(--mdc-shape-small, 60px)
    border-bottom-right-radius: var(--mdc-shape-small, 60px)
    border-bottom-left-radius: var(--mdc-shape-small, 60px)
    ::ng-deep .mat-mdc-text-field-wrapper
        height: 40px !important
        background-color: #ffffff
        border-radius: 4px
    ::ng-deep .mat-mdc-form-field-infix
        margin-top: 10px !important
        padding-top: 10px !important
        width: 120px
    ::ng-deep .mat-mdc-form-field-flex
        padding-top: 4px !important
        padding-right: 10px !important
.search-button-suffix
    background-color: #0073c0
    color: #ffffff
    width: 60px !important
    height: 60px !important
    padding-right: 10px !important
    display: inline-flex !important
    align-items: center
    justify-content: center
    & > *[role=img]
        width: 32px
        height: 32px
        font-size: 32px
        svg
            width: 32px
            height: 32px
    ::ng-deep .mat-mdc-button-touch-target
        width: 60px !important
        height: 60px !important

.search-bar-results-container::-webkit-scrollbar
    -webkit-appearance: none
    width: 7px
.search-bar-results-container::-webkit-scrollbar-track
    border-radius: 10px
    background: rgba(0,0,0,0.1)
.search-bar-results-container::-webkit-scrollbar-thumb
    -webkit-appearance: true
    border-radius: 10px
    background: rgba(0,0,0,0.2)
.search-bar-results-container::-webkit-scrollbar-thumb:hover
    background: rgba(0,0,0,0.4)
.search-bar-results-container::-webkit-scrollbar-thumb:active
    background: rgba(0,0,0,0.9)
