<div class="image-caption">
  <h3>{{ imageTitleShort }}</h3>
</div>

<div mat-dialog-content class="image-view-dialog-content">
  <img
    [hidden]="!imageOnload"
    [src]="gifData.viewUrl"
    class="image-view"
    (error)="checkifload($event)"
    (load)="imageOnload = true"
    (loadeddata)="imageOnload = false"
  />

  <div [hidden]="imageOnload">
    <ngx-skeleton-loader
      count="1"
      appearance="line"
      [theme]="loaderTagStyle"
      animation="progress"
    ></ngx-skeleton-loader>
  </div>
</div>
<div mat-dialog-actions>
  <button
    class="image-buttons"
    matTooltip="close"
    mat-icon-button
    (click)="closeDialog()"
    aria-label="Close view"
  >
    <mat-icon>close</mat-icon>
  </button>
  <span class="spacer"></span>
  <button
    *ngIf="isDownload"
    class="image-buttons"
    (click)="downloadGIF()"
    matTooltip="Download GIF"
    mat-icon-button
    aria-label="Download GIF"
  >
    <mat-icon>save_alt</mat-icon>
  </button>
  <div
    *ngIf="!hasSavedImage; then saveGIFTemplate; else removeGIFTemplate"
  ></div>
  <ng-template #saveGIFTemplate>
    <button
      (click)="saveGif()"
      class="image-buttons" 
      mat-icon-button
      aria-label="Liked GIF"
      matTooltip="Add to collections"
    >
      <mat-icon>bookmark_border</mat-icon>
    </button>
  </ng-template>
  <ng-template #removeGIFTemplate>
    <button
      (click)="removeGIF()"
      class="image-buttons" 
      mat-icon-button
      aria-label="Remove GIF"
      matTooltip="Remove from collection"
    >
      <mat-icon>bookmark</mat-icon>
    </button>
  </ng-template>
</div>
