<div class="image-caption">
  <h3>{{ imageTitleShort }}</h3>
</div>

<div mat-dialog-content class="image-view-dialog-content">
  <img   [hidden]="!imageOnload" [src]="gifData.images.original.url" class="image-view" (error)="checkifload($event)" 
  (load)="imageOnload=true" (loadeddata)="imageOnload=false"/>

  <div [hidden]="imageOnload"> 
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        [theme]="loaderTagStyle"
        animation="progress"
      ></ngx-skeleton-loader> 
  </div>
</div>
<div mat-dialog-actions>
  <button  class="image-buttons" matTooltip="close" mat-icon-button mat-dialog-close aria-label="Close view">
    <mat-icon>close</mat-icon>
  </button>
  <span class="spacer"></span>
  <button *ngIf="defaultDisplay" class="image-buttons" (click)="downloadGIF()" matTooltip="Download GIF" mat-icon-button aria-label="Download GIF">
    <mat-icon>save_alt</mat-icon>
  </button>
  <div *ngIf="!hasSavedImage; then saveGIFTemplate; else removeGIFTemplate"></div>  
  <ng-template #saveGIFTemplate>
    <button  (click)="saveGif()" class="image-buttons" matTooltip="Add to collection" mat-icon-button aria-label="Liked GIF">
      <mat-icon>bookmark_border</mat-icon>
    </button>
  </ng-template>
  <ng-template #removeGIFTemplate>
    <button  (click)="removeGIF()" class="image-buttons" matTooltip="Remove from collection" mat-icon-button aria-label="Liked GIF">
      <mat-icon>bookmark</mat-icon>
    </button>
  </ng-template>

</div>
