<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="main-toolbar">
    <a class="app-name" href="/">GiFSuki!</a>
    <span class="spacer"></span>
  </mat-toolbar>
  <mat-sidenav-container
    hasBackdrop="true"
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav-content class="side-nav-content">
      <div class="home-background"> 
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
