<div class="main-container">
  <mat-toolbar class="main-toolbar">
    <div class="title-container">
      <img src="../assets/hearticon.png"  width="32px" height="32px"/><a class="app-name" href="/">GiFSuki!</a>
    </div>
    
 
  </mat-toolbar>
  <mat-sidenav-container
    hasBackdrop="true"
    class="sidenav-container"
    
  >
    <mat-sidenav-content class="side-nav-content"> 
      <div class="search-and-collections-container">
        <div class="search-and-collections-area"> 
      <router-outlet></router-outlet>
    </div> 
  </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
