<div class="collection-headertxt-container">
  <div class="collection-text-container">
    <div class="collection-icon-container">
      <mat-icon>collections</mat-icon>
    </div>
    <div class="collection-text">
      <h2>My Collections</h2>
    </div>
  </div>
</div>
<div class="search-sort-container">
  <div class="search-bar-container">
    <mat-form-field class="search-text" subscriptSizing="dynamic">
      <input
        matInput
        placeholder="Search GIFs collection.."
        #searchbar
        maxlength="40"
        [(ngModel)]="searchQuery"
        (ngModelChange)="searchCollections()"
      />
      <button *ngIf="searchQuery.length === 0" matSuffix mat-icon-button class="search-button-suffix">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="searchQuery.length > 0" (click)="clearSearchInput()" matSuffix mat-icon-button class="search-button-suffix">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="sortbydate-container">
    <button class="sort-button" mat-flat-button [matMenuTriggerFor]="sort">
      <mat-icon>sort</mat-icon>
      Sort GIFs
    </button>
    <mat-menu #sort="matMenu" xPosition="before" class="sortmenu-display">
      <button mat-menu-item (click)="sortGifByDate(0)">
        <mat-icon>arrow_drop_up</mat-icon>
        <span>Newest to Oldest</span>
      </button>
      <button mat-menu-item (click)="sortGifByDate(1)">
        <mat-icon>arrow_drop_down</mat-icon>
        <span>Oldest to Newest</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="collection-results-container">
  <div class="collection-results-scroller">
    <div
      *ngIf="gifResult.length > 0 || searchFlag"
      class="collection-results"
      cdkDropListGroup
    >
      <div
        *ngFor="let gif of gifResult; let i = index"
        cdkDropList
        [cdkDropListData]="i"
        matTooltip="Drag to sort"
      >
        <div
          cdkDrag
          [cdkDragData]="i"
          (cdkDragEntered)="dragEntered($event)"
          (cdkDragMoved)="dragMoved()"
          (cdkDragDropped)="dragDropped($event)"
        >
          <app-c-imagethumbnail
            [InGIFData]="gif"
            (OutSaveStatus)="refreshData()"
          ></app-c-imagethumbnail>
        </div>
      </div>
    </div>

    <div *ngIf="gifResult.length === 0 && !searchFlag">
      <div class="collection-empty-container">
        No stored GIFS! Collect more GIFs!
      </div>
    </div>

    <div *ngIf="gifResult.length === 0 && searchFlag">
      <div class="collection-empty-container">
        No GIF found with the name `{{ searchQuery }}`
      </div>
    </div>
  </div>
</div>
