<div class="search-sort-container">
  search area
  <button mat-button (click)="getDatabase()">test</button>
</div>
<div class="collection-results-container">
  <div class="collection-results-scroller">
    <div class="collection-results" cdkDropListGroup>
      <div *ngIf="gifResult.length > 0; then withresult; else noresult"></div>
      <ng-template #withresult>
        <div
          *ngFor="let gif of gifResult; let i = index"
          cdkDropList
          [cdkDropListData]="i"
        >
          <div
            cdkDrag
            [cdkDragData]="i"
            (cdkDragEntered)="dragEntered($event)"
            (cdkDragMoved)="dragMoved($event)"
            (cdkDragDropped)="dragDropped($event)"
          >
            <app-c-imagethumbnail
              [InGIFData]="gif"
              (OutSaveStatus)="refreshData()"
            ></app-c-imagethumbnail>
          </div>
        </div>
      </ng-template>

      <ng-template #noresult>
        <div class="collection-empty-container">
          No stored GIFS! Find more GIF!
        </div>
      </ng-template>
    </div>
  </div>
</div>
